.landing_screen {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
.landing_screen h2 {
    font-family: IndieFlower;
    font-size: 40px;
    position: absolute;
    top: 20%;
    padding: 10px 30px;
    background-color: rgba(12, 221, 5, 0.4);
    color: #fff;
}
.landing_screen img {
    width: 100%;
}
